.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 1em 0 0.5em 0;
  font-size: 1.5em;
}
