.alpha {
  margin: 1em 0 2em 0;
}

.title {
  margin: 1em 0 0 0;
  font-size: 1.5em;
  font-weight: 750;
  color: #183a1d;
}

.letters {
  margin: 1em 0 1em 0;
  text-transform: uppercase;
}

.letter {
  // color: #183a1d;
  margin: 0 0.25em;
  color: #6b9b8a;
  // color: #ff8c19;
}

.letter:hover {
  color: #ff8c19;
  // color: #6b9b8a;
}
