.meal {
  margin: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  text-decoration: none;
}

.mealTitle {
  color: #183a1d;
  margin-bottom: 0.5em;
  font-size: 1em;
  text-align: center;
}

.meal:hover {
  transform: translateY(-10px);
  .mealName {
    color: #6b9b8a;
  }
}

.cardImg {
  width: 80%;
  height: auto;
  max-width: 20em;
}
