.meal {
  margin: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.mealName {
  color: #ff8c19;
  margin-bottom: 0.5em;
  font-size: 1em;
  // width: 90%;
}

.mealName:hover {
  color: #ffff19;
}

img {
  width: 240px;
  height: 240px;
}
