.details {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 80%;
  font-size: 1.25em;
}

.topDetails {
  width: 100%;
  display: flex;
}

.mealIngredients {
  text-transform: capitalize;
  width: 50%;
  text-align: start;
}

.mealName {
  width: 50%;
  height: 70%;
  float: left;
}

.mealImg {
  width: 70%;
  height: 70%;
}

.section {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}

.instructions {
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  text-align: start;
}

.count {
  font-weight: bold;
  margin-right: 0.25em;
}

.listItem {
  margin: 0.5em;
}

.lists {
  list-style: outside;
}

.ingredientsList {
  width: 100%;
  column-count: 2;
}

button {
  cursor: pointer;
  background: inherit;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  .topDetails {
    flex-direction: column;

    .mealName {
      width: 100%;
    }

    .mealIngredients {
      width: 100%;
    }

    .ingredientsList {
      column-count: 2;
      padding: 0;
    }

    .ingredientsList > li {
      width: 100%;
    }
  }
  .mealImg {
    width: 90%;
    height: 80%;
  }
}

@media screen and (max-width: 350px) {
  .topDetails {
    flex-direction: column;

    .mealName {
      width: 100%;
    }

    .mealIngredients {
      width: 100%;
    }

    .ingredientsList {
      column-count: 1;
      padding: 0;
    }

    .ingredientsList > li {
      width: 100%;
    }
  }
  .mealImg {
    width: 100%;
    height: 100%;
  }
}
