.details {
  //   display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 80%;
}

.section {
  margin-bottom: 0.5em;
}

.mealIngredients {
  text-transform: capitalize;
}
