.header {
  background-color: #161616;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid blue;
  color: white;
}
