.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   margin-bottom: 1em;
  padding: 0.5em 0;
  font-size: calc(10px + 2vmin);
  //   background-color: #161616;
  background-color: #fefbe9;
}

.text {
  color: #ff8c19;
}
