.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding: 0.5em 0;
  font-size: 1.3em;
  background-color: #6b9b8a;
}

.footText {
  color: #183a1d;
  font-weight: 600;
}

.copyR {
  flex: 1;
  margin-right: 3em;
}

.socials {
  flex: 1;
  margin-left: 3em;
}
