.search {
  text-align: center;
  margin: 1em;
}

.field {
  width: 30%;
  padding: 0.5em;
  // border: 1px solid blue;
  border-radius: 5px;
  font-size: 1.15em;
}

.submitBtn {
  // height: 3em;
  padding: 0.5em;
  font-size: 1.15em;
  // border: 1px solid blue;
  border-radius: 5px;
}
