.search {
  //   display: flex;
  //   justify-content: center;
  border: 1px solid red;
}

.field {
  width: 30em;
  height: 3em;
  border: 1px solid blue;
  border-radius: 5px;
}

.submitBtn {
  height: 3.25em;
  border: 1px solid blue;
  border-radius: 5px;
}
